<p class="desc">Oktaの知識を次なるレベルへと引き上げる</p>
<mat-list role="list">
  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">groups</mat-icon><a class="GenInfoURL" href="https://www.okta.com/jp/customer-first/" target="_blank">Customer First部門</a></mat-list-item>

  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">support</mat-icon><a class="GenInfoURL"href="https://www.okta.com/jp/services/success-and-support/" target="_blank">カスタマーサクセスとサポート</a></mat-list-item>

  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">book</mat-icon><a class="GenInfoURL"href="https://www.okta.com/jp/training/okta-essentials" target="_blank">Okta Essentials</a></mat-list-item>

  <!-- <div><mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">verified_user</mat-icon><a class="GenInfoURL" href="https://developer.okta.com/docs/reference/api/factors/#factor-object" target="_blank">Factors</a></mat-list-item></div> -->
</mat-list>
  
