
.cart {
    width: 300px!important;
    background-color: white!important;
    z-index: 1!important;
    border-radius: 5px!important;
    /* margin-left: 10px!important; */
    margin: 10px!important;
    min-height: 200px!important;
    /* max-height: 300px!important; */
    overflow: auto!important;
    /* margin-bottom: 90px!important; */
    margin-left: 10px!important;
}

.buyButton {
    margin-left: 10px!important;
    margin-right: 10px!important;
    margin-top: 10px!important;
    background-color: #00297A!important;
    color: white!important;
}

.itemBox {
    z-index: 1!important;
    /* align-self: center!important; */
    /* margin: auto!important; */
    margin-left: 10px!important;
    color: #00297A!important;
    /* height: 500px!important; */
}

.swagbox {
    width: 300px!important;
    background-color: #D7D7DC!important;
    z-index: 1!important;
    border-radius: 5px!important;
    /* margin-left: 10px!important; */
    margin: 10px!important;
    height: 250px!important;
}

.productName {
    color: #00297A!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
    font-weight: 800;
    font-size: 18px!important;
}

.productDesc {
    color: #41414B!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.productPrice {
    color: #41414B!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
    font-size: 20px!important;
    font-weight: 300!important;
}

.productImage {
    color: #41414B!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
    margin-top: 10px!important;
    width: 90px!important;
    height:auto!important;
    border-radius: 5px!important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
}