<p class="desc">サポート情報</p>
<mat-list role="list">
  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">book</mat-icon><a class="GenInfoURL" href="https://help.okta.com/en/prod/Content/index.htm" target="_blank">Okta Documentation</a></mat-list-item>

  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">support_agent</mat-icon><a class="GenInfoURL"href="https://support.okta.com/help/s/translatedhome?language=ja" target="_blank">Oktaサポートセンター</a></mat-list-item>

  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">dns</mat-icon><a class="GenInfoURL"href="https://status.okta.com/" target="_blank">Okta Status</a></mat-list-item>

  <!-- <div><mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">verified_user</mat-icon><a class="GenInfoURL" href="https://developer.okta.com/docs/reference/api/factors/#factor-object" target="_blank">Factors</a></mat-list-item></div> -->
</mat-list>
  
