<p class="desc">Oktaのコンテンツとドキュメントを探索する</p>
<mat-list role="list">
  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">verified_user</mat-icon><a class="GenInfoURL" href="https://www.okta.com/jp/customers/" target="_blank">導入事例</a></mat-list-item>

  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">menu_book</mat-icon><a class="GenInfoURL"href="https://www.okta.com/jp/resources/content-library/" target="_blank">コンテンツライブラリー</a></mat-list-item>

  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">stream</mat-icon><a class="GenInfoURL"href="https://www.okta.com/jp/blog/" target="_blank">ブログ</a></mat-list-item>

  <mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">event</mat-icon><a class="GenInfoURL"href="https://www.okta.com/jp/resources/events/" target="_blank">イベント</a></mat-list-item>

  <!-- <div><mat-list-item role="listitem" class="infoItem"><mat-icon class="genInfoIcon">verified_user</mat-icon><a class="GenInfoURL" href="https://developer.okta.com/docs/reference/api/factors/#factor-object" target="_blank">Factors</a></mat-list-item></div> -->
</mat-list>
  
