<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/2-back_image.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">

                    <style>
                        .loggedinUser {
                            width: 100%;
                            text-align: center!important;
                            align-self: center!important;
                            align-self: center!important;
                            font-size: 30px;
                            line-height: 1.6;
                        }
                    </style>
                    
                    <!-- <h2><div class="loggedinUser" id="logged_in_user"></div></h2> -->
                    <h2><div class="loggedinUser" id="logged_in_user"><a id="welcomeText"> {{strWelcome}}</a> 
                        <br />{{UserLoggedIn}}</div></h2> 
                    

                    <h2 class="presentation-subtitle text-center">CIAM デモ用メンバーサイト</h2>
                    <!---------------------->
                    <!-- Responsive Image -->
                    <!---------------------->
                    <style>
                        .responsive1 {
                            width: 90%;
                            height: auto;
                        }
                    </style>
                    <h1><img src="assets/img/okta-japan-large.png" alt="" class="responsive1"></h1>
                    <!---------------------->
                    <!-- Responsive Image -->
                    <!---------------------->
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>


            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>
    <div class="main">

        <style>
            .section-dark {
                background-color: #6E6E78;
            }

            body {
                color: white;
                background-color: #6E6E78;
                font-size: 14px;
                font-weight: 300;
                font-family: "Montserrat", "Helvetica", Arial, sans-serif;
            }
        </style>

        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Okta は、フェデレーションで会社と顧客のIDを保護します</h2>
                        <p class="description">
                            Oktaは、すべてのアイデンティティを保護する単一の信頼できるプラットフォームです。10,650社を超える組織がOktaのソフトウェアとAPIを信頼し、ユーザーのサインイン、認証、管理に活用しています。
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>