.mfaCancel{
  font-size: 1px!important;
  height: 80%!important;
}

.goto{
  color: white!important;
}
.factorBanner {
  width: 300px !important;
  height: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0px !important;
  background-position: center !important;
  
}